@charset "utf-8";
/* CSS Document */
body{
	width:auto;
}
#message h3{
	width:90%;
	margin:10px auto;
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px dashed #333;
	background:#eee;
}
#message dl{
	width:90%;
	margin:0 auto;
}
#message dl dd{
	margin:5px 0;
}
#message dl dd input.text{
	width:180px;
	height:19px;
	background:#fff;
	border:1px solid #333;
}
#message dl dd input.yzm{
	width:60px;
}
#message dl dd textarea{
	width:100%;
	height:120px;
	background:#fff;
	border:1px solid #333;
	overflow-y:scroll;
}
#message dl dd img#code{
	position:relative;
	top:8px;
	cursor:pointer;
}
#message dl dd input.submit{
	width:60px;
	height:19px;
	border:1px solid #333;
	background:#fff;
	cursor:pointer;
}
