@charset "utf-8";
/* CSS Document */
#photo{
	width:auto;
	height:600px;
	border:2px solid #ccc;
	font-size:12px;
}
#photo h2{
	text-indent:0;
	text-align:center;
}
#photo p{
	text-align:center;
	padding:20px;
	clear:both;
}
#photo p a{
	font-size:14px;
	color:#333;
}
#photo dl{
	width:150px;
	height:180px;
	margin:20px;
	float:left;
}
#photo dl dt{
	width:94px;
	height:93px;
	background:url(../../images/photo.jpg) no-repeat;
	margin:0 auto;
}
#photo dl dt img{
	display:block;
	padding:10px 0 0 14px;
}
#photo dl dd{
	width:90px;
	text-align:center;
	margin:0 auto;
	padding:5px 0;
}
#photo dl dd a{
	color:#333;
	text-decoration:none;
}
#photo dl dd a:hover{
	color:#f60;
}