@charset "utf-8";
/* CSS Document */
#login{
	width:auto;
	height:400px;
	border:2px solid #ccc;
	font-size:12px;
}
#login h2{
	text-indent:0;
	text-align:center;
}
#login dl{
	width:300px;
	margin:0 auto;
}
#login dl dt{
	text-align:center;
	padding:10px 0;
	font-weight:bold;
}
#login dl dd{
	padding:5px 0;
}
#login dl dd input.text{
	width:200px;
	height:19px;
	border:1px solid #333;
	background:#fff;
}
#login dl dd input.code{
	width:60px;
}
#login dl dd img#code{
	position:relative;
	top:8px;
	cursor:pointer;
}
#login dl dd input.button{
	width:60px;
	height:19px;
	border:1px solid #333;
	background:#fff;
	cursor:pointer;
	margin:5px 0 0 60px;
}
#login dl dd input.location{
	margin:5px 0 0 10px;
}
