@charset "utf-8";
/* CSS Document */
#member #member_main dl{
	width:500px;
	margin:15px auto;
	font-size:14px;
}
#member #member_main dl dd{
	padding:8px 0;
	border-bottom:1px dashed #999;
}
#member #member_main dl dd input.text{
	width:180px;
	height:19px;
	border:1px solid #333;
	background:#fff;
}
#member #member_main dl dd input.submit{
	width:100px;
	height:19px;
	border:1px solid #333;
	background:#fff;
	padding:0 0 2px 0;
	cursor:pointer;
	margin:0 0 0 180px;
}









