@charset "utf-8";
/* CSS Document */
#photo{
	width:auto;
	height:auto;
	border:2px solid #ccc;
	font-size:12px;
}
#photo h2{
	text-indent:0;
	text-align:center;
}
#photo dl.detail{
	text-align:center;
	margin:20px;
}
#photo dl.detail dt a{
	color:#f60;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	padding:10px;
	vertical-align:top;
}
#photo dl.detail dt span{
	color:#666;
	font-size:14px;
	font-weight:bold;
	padding:10px;
	vertical-align:top;
}
#photo dl.detail dd{
	padding:10px;
	font-size:14px;
}
#photo dl.detail dd.name{
	font-weight:bold;
	color:#333;
}
#photo p.line{
	clear:both;
	width:95%;
	margin:0 auto;
	height:10px;
	border-bottom:1px dashed #333;
}
#photo dl.rephoto{
	width:450px;
	margin:10px auto;
	position:relative;
}
#photo dl.rephoto dt{
	text-align:center;
	padding:10px 0;
	font-weight:bold;
}
#photo dl.rephoto dd{
	padding:5px 0;
}
#photo dl.rephoto dd label{
	cursor:pointer;
}
#photo dl.rephoto dd div#ubb{
	width:410px;
	height:26px;
	background:url(../../images/bgMenubar.gif);
	border:1px solid #333;
	border-bottom:1px dashed #666;
}
#photo dl.rephoto dd div#ubb img{
	display:block;
	float:left;
	padding:5px 0 0 6px; 
}
#photo dl.rephoto dd div#font{
	display:none;
	width:130px;
	height:40px;
	font-size:12px;
	background:#eee;
	border:1px dashed #333;
	padding:8px;
	line-height:20px;
	position:absolute;
	top:82px;
	left:5px;
}
#photo dl.rephoto dd div#font strong{
	font-weight:normal;
	background:#fff;
	border:1px solid #ccc;
	cursor:default;
}
#photo dl.rephoto dd div#color{
	display:none;
	width:152px;
	height:130px;
	font-size:12px;
	background:#eee;
	border:1px dashed #333;
	padding:4px 0 0 4px;
	position:absolute;
	top:82px;
	left:130px;
}
#photo dl.rephoto dd div#color strong{
	display:block;
	border:1px solid #999;
	width:12px;
	height:12px;
	float:left;
	margin:4px 0 0 4px;
}
#photo dl.rephoto dd div#color em {
	display:block;
	height:28px;
	width:80%;	
	clear:both;
}
#photo dl.rephoto dd div#color em input {
	margin-top:10px;
	margin-left:4px;
	width:136px;	
	height:20px;
	cursor:pointer;
	background:#fff;
}
#photo dl.rephoto dd textarea{
	width:400px;
	border:1px solid #333;
	border-top:none;
	background:#fff;
	padding:5px;
}
#photo dl.rephoto dd input.text{
	width:250px;
	height:19px;
	border:1px solid #333;
	background:#fff;
}
#photo dl.rephoto dd input.yzm{
	width:75px;
}
#photo dl.rephoto dd input.submit{
	width:75px;
	height:21px;
	border:1px solid #333;
	background:#fff;
	cursor:pointer;
	color:#333;
}
#photo dl.rephoto dd input.submit:hover{
	background:#eee;
}
#photo dl.rephoto dd img#code{
	position:relative;
	top:8px;
	cursor:pointer;
}
#photo dl.rephoto dd#q a{
	text-decoration:none;
	color:#333;
}

#photo div.content{
	float:right;
	width:680px;
	padding:5px 20px 0 0;
}
#photo div.content .user{
	height:30px;
	line-height:30px;
	background:url(../../images/member.gif) no-repeat left center;
	border-bottom:1px dashed #999;
	color:#666;
	padding:0 0 0 20px;
}
#photo div.content .user span{
	float:right;
	color:#06f;
}
#photo div.content h3{
	font-size:14px;
	height:40px;
	line-height:40px;
}
#photo div.content h3 span{
	font-size:12px;
	font-weight:normal;
	color:#06f;
}
#photo div.content h3 span a{
	text-decoration:none;
	color:#06f;
}
#photo div.content h3 span a:hover{
	text-decoration:underline;
	color:#f60;
}
#photo div.content h3 img{
	position:relative;
	top:3px;
}
#photo div.content .detail{
	line-height:200%;
	font-size:14px;
}
#photo div.content .detail a{
	text-decoration:none;
	color:blue;
}
#photo div.content .detail a:hover{
	text-decoration:underline;
	color:#f60;
}
#photo div.content .detail p.autograph{
	color:#666;
	border-top:1px dashed #666;
	margin:10px 0;
	width:80%;
	padding:5px 0;
}
#photo div.content .read{
	font-size:14px;
	color:#666;
	padding:10px 0 0 0;
}
#photo div.content .read p{
	padding:0 0 15px 0;
	text-align:right;
}




#photo div.re dl {
	width:170px;
	padding:10px 0 0 45px;
	float:left;
}
#photo div.re dl dt {
	width:170px;
	margin:0 0 5px 0;
}
#photo div.re dl dt img {
	margin:0 auto;
	display:block;
}
#photo div.re dl dd {
	height:20px;
	line-height:20px;
	text-align:center;
	width:85px;
	float:left;
}
#photo div.re dl dd.email,#photo div.re dl dd.url {
	width:190px;
	text-align:left;
	padding:2px 0 0 0;
	text-indent:5px;
}
#photo div.re dl dd a {
	text-decoration:none;
	color:#333;
}
#photo div.re dl dd.user {
	width:170px;
	float:none;
	color:#f60;
}
#photo div.re dl dd.message {
	background:url(../../images/x1.gif) no-repeat 5px 35%;
}
#photo div.re dl dd.friend {
	background:url(../../images/x2.gif) no-repeat left 35%;
}
#photo div.re dl dd.guest {
	background:url(../../images/x3.gif) no-repeat 5px 35%;
}
#photo div.re dl dd.flower {
	background:url(../../images/x4.gif) no-repeat left 35%;
}
