@charset "utf-8";
/* CSS Document */
#post{
	width:auto;
	height:600px;
	border:2px solid #ccc;
	font-size:12px;
	position:relative;
}
#post h2{
	text-indent:0;
	text-align:center;
}
#post dl{
	width:450px;
	margin:0 auto;
}
#post dl dt{
	text-align:center;
	padding:10px 0;
	font-weight:bold;
}
#post dl dd{
	padding:5px 0;
}
#post dl dd label{
	cursor:pointer;
}
#post dl dd div#ubb{
	width:410px;
	height:26px;
	background:url(../../images/bgMenubar.gif);
	border:1px solid #333;
	border-bottom:1px dashed #666;
}
#post dl dd div#ubb img{
	display:block;
	float:left;
	padding:5px 0 0 6px; 
}
#post dl dd div#font{
	display:none;
	width:130px;
	height:40px;
	font-size:12px;
	background:#eee;
	border:1px dashed #333;
	padding:8px;
	line-height:20px;
	position:absolute;
	top:200px;
	left:260px;
}
#post dl dd div#font strong{
	font-weight:normal;
	background:#fff;
	border:1px solid #ccc;
	cursor:default;
}
#post dl dd div#color{
	display:none;
	width:152px;
	height:130px;
	font-size:12px;
	background:#eee;
	border:1px dashed #333;
	padding:4px 0 0 4px;
	position:absolute;
	top:200px;
	left:380px;
}
#post dl dd div#color strong{
	display:block;
	border:1px solid #999;
	width:12px;
	height:12px;
	float:left;
	margin:4px 0 0 4px;
}
#post dl dd div#color em {
	display:block;
	height:28px;
	width:80%;	
	clear:both;
}
#post dl dd div#color em input {
	margin-top:10px;
	margin-left:4px;
	width:136px;	
	height:20px;
	cursor:pointer;
	background:#fff;
}
#post dl dd textarea{
	width:400px;
	border:1px solid #333;
	border-top:none;
	background:#fff;
	padding:5px;
}
#post dl dd input.text{
	width:250px;
	height:19px;
	border:1px solid #333;
	background:#fff;
}
#post dl dd input.yzm{
	width:75px;
}
#post dl dd input.submit{
	width:75px;
	height:21px;
	border:1px solid #333;
	background:#fff;
	cursor:pointer;
	color:#333;
}
#post dl dd input.submit:hover{
	background:#eee;
}
#post dl dd img#code{
	position:relative;
	top:8px;
	cursor:pointer;
}
#post dl dd#q a{
	text-decoration:none;
	color:#333;
}