@charset "utf-8";
/* CSS Document */
#register{
	width:auto;
	height:600px;
	border:2px solid #ccc;
	font-size:12px;
}
#register h2{
	text-indent:0;
	text-align:center;
}
#register dl{
	width:400px;
	margin:0 auto;
}
#register dl dt{
	text-align:center;
	padding:10px 0;
	font-weight:bold;
}
#register dl dd{
	padding:5px 0;
}
#register dl dd.face{
	padding:5px 0 5px 120px;
}
#register dl dd.face img{
	cursor:pointer;
}
#register dl dd input.text{
	width:220px;
	height:19px;
	border:1px solid #333;
	background:#fff;
}
#register dl dd input.yzm{
	width:60px;
}
#register dl dd input.submit{
	width:60px;
	height:19px;
	border:1px solid #333;
	background:#fff;
	cursor:pointer;
	margin:0 0 0 120px;
}
#register dl dd img#code{
	position:relative;
	top:8px;
	cursor:pointer;
}