@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
body{
	width:960px;
	margin:0 auto;
	background:#fff;	
	font-size:14px;
	font-family:微软雅黑;
}
ul{
	list-style-type:none;
}
h2{
	font-size:14px;
	background:#eee;
	height:25px;
	line-height:25px;
	text-indent:10px;
}
#header{
	width:auto;
	height:150px;
	border:2px solid #ccc;
	margin:10px 0;
}
#header h1{
	font-size:12px;
	width:210px;
	height:39px;
	/*background:url(../../images/logo1.jpg) no-repeat;*/
	margin:50px 0 0 50px;
}
#header h1 a{
	width:210px;
	height:39px;
	display:block;
	text-indent:-9999px;
}
#header ul{
	text-align:right;
	padding:20px 50px 0 0;
}
#header ul li{
	display:inline;
}
#header ul li a{
	text-decoration:none;
	color:#333;
}
#header ul li a.manage{
	color:red;
}
#header ul li a:hover{
	color:#f00;
	text-decoration:underline;
}
#header ul li strong.noread{
	background:url(../../images/noread.gif) no-repeat left center;
	padding:0 0 0 18px;
}
#header ul li strong.read{
	background:url(../../images/meg.gif) no-repeat left center;
	padding:0 0 0 18px;
}
#header ul li.skin{
	position:relative;
}
#header ul li dl#skin{
	position:absolute;
	top:18px;
	left:-10px;
	border:1px solid #333;
	width:90px;
	background:#fff;
	text-align:center;
	padding:5px;
	display:none;
}
#header ul li dl#skin dd{
	padding:2px;
}
#page_num{
	height:20px;
	clear:both;
	padding:10px 0;
	position:relative;
	font-size:12px;
}
#page_num ul{
	position:absolute;
	right:50px;
	height:20px;
}
#page_num ul li{
	float:left;
	width:26px;
	height:20px;
}
#page_num ul li a{
	display:block;
	width:20px;
	height:20px;
	line-height:20px;
	border:1px solid #333;
	text-align:center;
	text-decoration:none;
}
#page_num ul li a:hover,#page_num ul li a.selected{
	background:#666;
	font-weight:bold;
	color:#fff;
}
#page_text{
	height:20px;
	clear:both;
	padding:20px 0;
	position:relative;
	font-size:12px;
}
#page_text ul{
	text-align:center;
}
#page_text ul li{
	display:inline;
}
#page_text ul li a{
	color:#333;
}
#member{
	width:auto;
	min-height:600px;
	border:2px solid #ccc;
	font-size:12px;
}
#member h2{
	text-indent:0;
	text-align:center;
	height:30px;
	line-height:30px;
}
#member #member_sidebar{
	width:300px;
	height:550px;
	margin:15px;
	border:1px solid #999;
	float:left;
}
#member #member_sidebar dl{
	width:250px;
	background:red;
	margin:15px auto;
}
#member #member_sidebar dl dt{
	height:40px;
	line-height:40px;
	background:#999;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
#member #member_sidebar dl dd{
	height:40px;
	line-height:40px;
	background:#eee;
	font-weight:bold;
	text-align:center;
}
#member #member_sidebar dl dd a{
	display:block;
	color:#333;
	text-decoration:none;
}
#member #member_sidebar dl dd a:hover{
	background:#ccc;
}
#member #member_main{
	width:590px;
	height:550px;
	margin:15px;
	border:1px solid #999;
	float:right;
}
#footer{
	clear:both;
	width:auto;
	height:60px;
	text-align:center;
	padding:10px 0 0 0;
}
#footer p{
	font-size:12px;
	letter-spacing:1px;
	padding:5px 0 0 0;
}
#footer p span{
	color:#06f;
}

